<% content_for :header_js do %>
<link rel="stylesheet" type="text/css" href="/rating_styles.css">
<% end %>

<% content_for :footer_js do %>
<script>
  $(document).ready(function(){
    $('.option-button').on('click', function(){
      $('#type_input').val($(this).attr('data-option'));
      $('.after-click').show();
    });
  });
</script>
<% end %>


<div class="mdl-grid content-grid">
  <div class="description-section-text">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-typography--display-1-color-contrast">
        Felicitaciones!
        <p class="mdl-typography--font-light">
         Tu conductor <%= driver_name %> te ha recogido.
         <br>
         Puedes seguir el estado del viaje refrescando esta pagina.
         <br>
         Ubicacion actual: <%= position %>
         <br>
         Distancia hasta destino: <%= distance  %>
         <br>
        </p>
      </div>
    </div>
    <% if arrived  %>
      <p>Para finalizar, completa las siguientes acciones:</p> 
      <form method="POST" action="/pay_trip">
        <div class="mdl-cell mdl-cell--12-col">
          <div class="mdl-cell mdl-cell--12-col mdl-typography--display-1-color-contrast after-click">
            <p class="mdl-typography--font-light">
              Contanos como estuvo tu viaje
            </p>
          </div>
          <div class="mdl-cell mdl-cell--12-col rating-div after-click">
          <div class="rating">
            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"></label>
          </div>
        </div>
          <input type="hidden" name="type" value="" id="type_input" />
          <input type="hidden" name="driver_name" value="<%= driver_name %>">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored option-button" id="select-trip-button" type="button" name="submit" data-option="pay">
            Pagar viaje
          </button>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-typography--display-1-color-contrast">
          <p class="mdl-typography--font-light">
            Canjea millas por descuentos en tu viaje!
          </p>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <input type="hidden" name="driver_name" value="<%= driver_name %>">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored option-button" id="select-trip-button" type="button" name="miles" data-option="credit">
            Canjear
          </button>
        </div>
        
        <div class="mdl-cell mdl-cell--12-col text-center after-click" style="display:none;">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">
            Continuar
          </button>
        </div>
      </form>
    <% end %>
  </div>
</div>


